*.pyc
results/babar/
results/Carmack/
results/GroupTest/
results/nw-group/
results/Scableur/
tests/*/output/*.txt
tests/*/output/*.csv
database.csv
web_app/site.conf
tests/big_mama/input/bigmama_10.csv
tests/big_mama/input/bigmama_100.csv
tests/big_mama/input/bigmama_1000.csv
tests/big_mama/input/bigmama_10000.csv
