{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/content/styles/views/statistics/history.css"/>
{% endblock %}

{% block body %}
  {% for log in group_history %}
  <a href="/statistics/detail_list/?sha={{ log[0] }}&group={{ log[2] }}">
    <div class="inline_group_logs">

      {% if log[3] == log[4] %}
        <ul class="ul_result_pass">
      {% else %}
        <ul class="ul_result_fail">
      {% endif %}

        <li><p>{{log[0][-8:]}}</p></li>
        <li><p>{{ log[1] }}</p></li>
        <li><p><b>{{ log[2] }}</b></p></li>
        <li>
          <div class='inline_group_results'>
            <p>{{ log[3] }}/{{ log[4] }}</p>

            {% if log[3] == log[4] %}
              <p>[PASS]</p>
              <span class='result_icon_pass'></span>
            {% else %}
              <p>[FAIL]</p>
              <span class='result_icon_fail'></span>
            {% endif %}

          </div>
        </li>
      </ul>
    </div>
  </a>
  {% endfor %}
{% endblock %}
