{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/content/styles/views/home/index.css"/>
{% endblock %}

{% block body %}

  {% for group in last_group_test %}
  <div class="inline_group_logs">

    {% if group[4] == group[5] %}
      <ul class="ul_result_pass">
    {% else %}
      <ul class="ul_result_fail">
    {% endif %}

      <li><p><a href="">{{group[0]}}</a></p></li>
      <li><p>{{ group[1] }}</p></li>
      <li><p><b>{{ group[2] }}</b></p></li>
      <li>
        <div class='inline_group_results'>
          <p>{{ group[4] }}/{{ group[5] }}</p>

          {% if group[4] == group[5] %}
            <p>[PASS]</p>
            <a class='result_icon_pass' href='' alt='Result' title='Result'></a>
          {% else %}
            <p>[FAIL]</p>
            <a class='result_icon_fail' href='' alt='Result' title='Result'></a>
          {% endif %}

        </div>
      </li>
    </ul>
  </div>

  {% endfor %}

{% endblock %}
