{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/Content/Styles/Views/Home/Index.css"/>
{% endblock %}

{% block body %}

  <div class="inline_group_logs">
    <ul>
      <li><p><a href=""><font color='#2dae5b'>0fc345de</font></a></p></li>
      <li><p><font color='#2dae5b'>Date</font></p></li>
      <li><p><font color='#2dae5b'>Group</font></p></li>
      <li>
        <div class='inline_group_results'>
          <p><font color='#2dae5b'>5/9</font></p>
          <a class='result_icon_pass' href='' alt='Result' title='Result'></a>
        </div>
      </li>
    </ul>
  </div>

{% endblock %}
