<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/content/styles/pure-min.css"/>
    <link rel="stylesheet" type="text/css" href="/content/styles/site.css"/>
    <title>PyTesting</title>
    {% block head %}{% endblock %}
</head>
<body>
  <header>
    <h2>PyTesting - Alpha</h2>
    <p> Framework by Charlatants © </p>
  </header>

  <section id="content">
    <aside>
      <section class="title_bloc">
        <img src="/content/img/reports_icon2.png"/>
        <p>Menu</p>
      </section>

      <ul class="menu_link">
        <li><a href="">Last tests</a></li>
        <li><a href="">Stats</a></li>
      </ul>

      <section class="title_bloc">
        <img src="/content/img/reports_icon2.png"/>
        <p>Best scores</p>
      </section>

      <br>

      <ul>
        <li>
          <p>Groupe 1 -
          <span style="color: rgb(0,200,0);">5</span>
          <span style="color: rgb(200,0,0);">4</span>
          </p>
        </li>
        <li>
          <p>Groupe 2 -
          <span style="color: rgb(0,200,0);">2</span>
          <span style="color: rgb(200,0,0);">7</span>
          </p>
        </li>
      </ul>

    </aside>

    <article>
      {% block body %}{% endblock %}
    </article>

  </section>

</body>
</html>
