<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/content/styles/pure-min.css"/>
    <link rel="stylesheet" type="text/css" href="/content/styles/site.css"/>
    <title>PyTesting</title>
    {% block head %}{% endblock %}
</head>
<body>
  <header>
    <h2>PyTesting - Alpha</h2>
    <p> Framework by Charlatants © </p>
  </header>

  <section id="content">
    <aside>
      <section class="title_bloc">
        <img src="/content/img/menu_icon.png"/>
        <p>Menu</p>
      </section>

      <ul class="menu_link">
        <li><a href="/">Latest tests</a></li>
        <li><a href="/statistics/">Statistics</a></li>
        <li><a href="">Compare</a></li>
      </ul>

      <section class="title_bloc">
        <img src="/content/img/podium2.png"/>
        <p>Latest scores</p>
      </section>

      <ul class="ul_scores_list">
        {% for group in last_commit_best_group %}

        {% if group[4] == group[5] %}
          <li class="li_scores_list_pass">
            <img src="/content/img/star1.png"/>
        {% else %}
          <li class="li_scores_list_fail">
            <img src="/content/img/star1_off.png"/>
        {% endif %}

          <p>{{ group[2] }} - {{ group[4] }}/{{ group[5] }}</p>
        </li>

        {% endfor %}
      </ul>

    </aside>

    <article>
      {% block body %}{% endblock %}
    </article>

  </section>

</body>
</html>
