@charset "utf-8";

.grid_group
{
	width: 100%;
}

.block_group_logs
{
	float: left;
	width: 350px;
	height: 160px;
	margin:auto;
	margin-bottom: 10px;
	margin-right: 10px;

	background-color: #F9FAE9;
	border: solid lightgrey 1px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	transition:linear all 0.2s;

	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
}

.block_group_logs:hover{
  background-color: #E9F3F9;
  box-shadow: 0px 0px 7px #CCC;
  border: solid #999 1px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  transition:linear all 0.1s;
}

.block_group_logs p{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
	font-style: italic;
}

.block_group_logs a{
  text-decoration: none;
	color: grey;
	font-style: italic;
}

.block_group_logs a:hover{
  text-decoration: none;
	color: black;
}

.block_group_logs ul{
  display: inline;
}

.block_group_logs li{
  display: inline;
}

.title_group_logs
{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	border-bottom: solid 1px lightgrey;
}

.title_group_logs p
{
	float: left;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  font-style: italic;
	font-size: 13pt;
}

.title_group_logs img{
	float: left;
	width: 50px;
	margin-left: 10px;
}

.ul_result_fail{
	color: rgb(200,0,0);
}

.ul_result_fail a{
	color: rgb(200,0,0);
	text-decoration: none;
}

.ul_result_fail a:hover{
	color: rgb(50,50,50);
}

.ul_result_pass{
	color: rgb(0,200,0);
	text-decoration: none;
}

.ul_result_pass a{
	color: rgb(0,200,0);
	text-decoration: none;
}

.ul_result_pass a:hover{
	color: rgb(50,50,50);
}
